@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/pattern-background-desktop.svg) ;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.container{
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 450px;
    margin-top: 100px;
    
}

.image{
    width: 500px;
border-radius: 20px 20px 0px 0px;
max-width: 100%;

}

.text{
padding: 7px;
text-align: center;
}

.title{
    
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 37px;
/* identical to box height */

text-align: center;
margin-top: 30px;
margin-bottom: 17px;

color: #1F2E55;


}

.paragraph{
    font-family: 'Red Hat Display';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;

color: #717FA6;

}

.plans{
   display: flex;
   gap: 1em;
    background-color:#F7F9FF;
    border-radius: 11px;
    width: 354px;
    height: 98px;
    align-items: center;
    margin-top: 20px;
    
}
.iconmusic{
    margin-left: 24px;
   width: 48px;
   height: 48px;
}





.change{
    color: #382AE1;
    
margin-left: 85px;
}

.change:visited{
    color: #382AE1;
}

.change:hover{
    color: #766CF1;
    cursor: inherit;
}


.Annual{
    font-family: 'Red Hat Display';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 21px;
padding-bottom: 8px;
color: #1F2E55;
}

.price{
    font-family: 'Red Hat Display';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;

color: #717FA6;
}


.proccess{
    margin-top: 32px;
    width: 350px;
    height: 50px;
    background-color: #382AE1;
    border-radius: 11px;
    font-family: 'Red Hat Display';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 20px;
color: white;
border: none;
box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}
.proccess:hover{
    background: #766CF1;


}

.cancel{

    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    border: none;
    margin-top: 16px;
    color: #717FA6;
}



.cancel:hover{
    color: #1F2E55;   
}
